
<router-outlet>
  <h1>Insert Four points and we will tell you the intersection</h1>
  <form>
  <label>Point A</label>
  <input name="ax" placeholder="x" type="number">
  <input name="ay" placeholder="y" type="number">
   <br>
  <label>Point B</label>
  <input name="bx" placeholder="x" type="number">
  <input name="by" placeholder="y" type="number">
    <br>
  <label>Point C</label>
  <input name="cx" placeholder="x" type="number">
  <input name=cy placeholder="y" type="number">
    <br>
  <label>Point D</label>
  <input name="dx" placeholder="x" type="number">
  <input name=dy placeholder="y" type="number">
    <br>
  <button type="submit">Submit</button>
  </form>
</router-outlet>
